<div class="col-xs-8">
    <div class="well" ng-repeat="item in data.products  | filter:categoryFilterFn|    range:selectedPage:pageSize">
        <h3>
            <strong>{{item.name}}</strong>
            <span class="pull-right label label-primary">                        {{item.price | currency}}                    </span>
        </h3>                <span class="lead">{{item.description}}</span>
    </div>
</div>